@import 'tailwindcss';
/* @import 'tailwindcss/preflight'; */
@tailwind base;
@tailwind utilities;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

html.dark {
  @apply bg-slate-900 text-white;
}

html.light {
  @apply bg-white text-black;
}
